<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    {{ctr.numberOfImages}}
                </h3>
                <p>
                    Images
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-image"></i>
            </div>
            <a href="#/account" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    {{ctr.numberOfLocations}}
                </h3>
                <p>
                    Locations
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-location"></i>
            </div>
            <a href="#/account" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    {{ctr.numberOfEvents}}
                </h3>
                <p>
                    Events
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-reminder"></i>
            </div>
            <a href="#/account" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>
                    {{ctr.numberOfAccounts}}
                </h3>
                <p>
                    Social media accounts
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-android-friends"></i>
            </div>
            <a href="#/media" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
</div><!-- /.row -->