<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box" data-ng-class="{'bg-green': ctr.isConnectedFb, 'bg-red': !ctr.isConnectedFb}">
            <div class="inner">
                <h3>
                    Facebook
                </h3>
                <p>Your Facebook account</p>
            </div>
            <div class="icon">
                <i class="ion ion-social-facebook"></i>
            </div>
            <a href="#/media/facebook" class="small-box-footer">
                Settings <i class="fa fa-gears"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box" data-ng-class="{'bg-green': ctr.isConnectedTwitter, 'bg-red': !ctr.isConnectedTwitter}">
            <div class="inner">
                <h3>
                    Twitter
                </h3>
                <p>Your Twitter account</p>
            </div>
            <div class="icon">
                <i class="ion ion-social-twitter"></i>
            </div>
            <a href="#/media/twitter" class="small-box-footer">
                Settings <i class="fa fa-gears"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box" data-ng-class="{'bg-green': ctr.isConnectedFlickr, 'bg-red': !ctr.isConnectedFlickr}">
            <div class="inner">
                <h3>
                    Flickr
                </h3>
                <p>Your Flickr account</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios7-reverse-camera"></i>
            </div>
            <a href="#/media/flickr" class="small-box-footer">
                Settings <i class="fa fa-gears"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box" data-ng-class="{'bg-green': ctr.isConnectedGoogle, 'bg-red': !ctr.isConnectedGoogle}">
            <div class="inner">
                <h3>
                    Google
                </h3>
                <p>Your Google account</p>
            </div>
            <div class="icon">
                <i class="ion ion-social-google"></i>
            </div>
            <a href="#/media/google" class="small-box-footer">
                Settings <i class="fa fa-gears"></i>
            </a>
        </div>
    </div><!-- ./col -->
 
</div><!-- /.row -->